<div class="store-item">
  <!-- <mat-icon>{{ item?.icon }}</mat-icon> -->
  <div *ngIf="customName" class="item-details">
    <h6>{{ item?.name }}</h6>
  </div>
  <div class="price">
    <p>{{ item?.price ?? 0 | currencyConverter }}</p>
  </div>

  <div class="quantity-controls">
    <mat-form-field>
      <mat-label>Ticket Number</mat-label>
      <input matInput type="number" (input)="onQuantityChange($event)">
    </mat-form-field>
  <div class="pl-3">
    <div>Total: {{ (totalQuantity ?? 0) * (item?.price ?? 0) | currency }}</div>
  </div>
  <mat-divider></mat-divider>
</div>
