main {
  height: 100%;
}

.mainPageSubtitle {
  padding: 2px 6px;
}

div {
  color: blue;
}

.releaseCardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, auto);  /* 2 rows */
  gap: 10px; /* Spacing between cards */
  justify-items: center; /* Center items horizontally */
  margin-bottom: 30px;
}

.releaseCard {
  width: 100%; /* Make sure the card takes full width of the grid cell */
  max-width: 400px; /* Optional: control the max-width of each card */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-bottom: 20px;
  margin-top: 20px;
}